:root {
    --social-color: #7DCE82;
    --physical-color: #FF8360;
    --intellectual-color: #E8E288;
    --spiritual-color: #3CDBD3;

    --primary: #473BF0;
    --secondary: #F8C630;
    --tertiary: #D6D6D6;
    background-color: var(--tertiary);
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: var(--primary);
    padding: 15px
}

h1 {
    font-size: 3em;
    color: var(--tertiary);
}

h1 > span {
    color: var(--secondary);
}

h2 {
    padding: 5px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

a {
    color: var(--tertiary);
}

main {
    padding-top: 200px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 5px;
}

.grid > div {
    border: solid 1px black;

}

.social{
    background-color: var(--social-color);
}

.physical {
    background-color: var(--physical-color);
}

.intellectual {
    background-color: var(--intellectual-color);
}

.spiritual {
    background-color: var(--spiritual-color);
}

.goal-head {
    background-color: rgba(0, 0, 0, .12);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.goal-head > button {
    background-color: transparent;
    border: none;
}

.darker-row {
    background-color: rgba(0, 0, 0, .12);
}

.add-goal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    width: 100%;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-container > button {
    background-color: transparent;
    transform-origin: 50% 50%;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: all .25s ease;
}

.btn-container > button:hover {
    background-color: rgba(0, 0, 0, .12);
    border-radius: 50%;
}

.dropdown {
    transform: rotate(-90deg);
}

.dropdown[data-open="true"] {
    transform: rotate(0deg);
}

.goal-section {
    width: 60%;
}

.date-section {
    width: 20%;
}

.progress-section {
    width: 10%;
}

.row {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
}

.modal {
    position: fixed;
    opacity: 1;
    top: -50vh;
    bottom: 150vh;
    width: 0px;
    z-index: 2;
    transition: all .25s ease;
    border-radius: 10px;
}

.modal[data-open="true"] {
    opacity: 1;
    width: auto;
    top: 10vh;
    bottom: 10vh;
    right: 10vw;
    left: 10vw;
    overflow: hidden;
}

#mask {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 1;
    top:0px;
    left: 0px;
}

#mask[data-open="true"] {
    bottom: 0px;
    right: 0px;
}

.goal-list {
    padding: 10px;
}

.t-body {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,.12) transparent;
    height: 65%;
}

